<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>NIL07XJJmtPE0ZjuBDUd1afCP8U4pBj87IjeqI6i</string>
	<key>clientKey</key>
	<string>cYI4o7bAztI04Rf8eZ3XROdsZizvIs87yRgkiU2e</string>
</dict>
</plist>
